<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/font-awesome-4.5.0/css/font-awesome.css'/>

</head>

<body>
<nav class="navbar">
    <% include msgTip %>
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="/">首页</a></li>
            <% if(user){ %>
            <li><a href="/u/<%- user.name %>">我的主页</a></li>
            <li><a href="/post">发表</a></li>
            <li><a href="/logout">注销</a></li>
            <% } else{ %>
            <li><a href="/login">登录</a></li>
            <li><a href="/reg">注册</a></li>
            <% } %>
        </ul>
        <div class=" search">
            <form action="/search" method="get"><input type="text" name="keyword" placeholder="SEARCH"
                                                       class="form-control"/></form>
        </div>

    </div>

</nav>
