<%include header%>
<div class="container mainContent">
<form method="post" class="create-artical">
    <input type="text" class="form-control" placeholder="标题" name="title"/>
    <textarea class="form-control articalContent" rows="3" name="post"></textarea>
    <button class="btn btn-info postInfor" type="submit">发表</button>
</form>
</div>
<%include footer%>